[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
dnspython = "*"
nltk = "*"
requests = "*"
jupyter = "*"
python-dotenv = "*"
pyqt5 = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.8"
