[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
dnspython = "*"
nltk = "*"
requests = "*"
python-dotenv = "*"
bs4 = "*"
bioc = "*"
eel = "*"
pyenchant = "*"
sklearn = "*"
pyinstaller = "*"
certifi = "*"
eng-to-ipa = "*"

[dev-packages]

[requires]
python_version = "3.8"
