#mainArea {
  display: flex;
}

#textAreaContainer {
  width: 79vw;
  height: 80vh;
  position: relative;
  float: left;
}

#dictionaryContainer {
  position: relative;
  border: solid grey;
}

#textArea, #textareaMirrorInline {
  font:monospace;
  font:18px/1 monospace;
}

#textArea {
  resize: none;
  position: absolute;
  top: 0;
  left: 0;
  background:transparent;
  z-index: 2;
  margin:0;
  height: 85%;
}


#textareaMirrorInline {
  border: solid 1px black;
  word-wrap: break-word;
  overflow-wrap: break-word;
  opacity: 0;
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 5px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: gray;
  color: white;
}

#suggestArea {
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  border: solid 1px gray;
  background-color: white;
  max-width: 30vw;
  height: 50px;
  overflow: scroll;
  word-wrap: break-word;
  z-index: 5;
}

#btn_container button {
  border: solid grey;
}

#btn_container {
  position: absolute;
  bottom: 0;
}

#dictionaryList {
  overflow: scroll;
  height: 80vh;
}

#searchInput {
  margin-top: 2px;
}