/* Heading style from https://codepen.io/kei_01011/pen/BaNoRYO */
.heading {
  position: relative;
  margin: 0 0 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.06em;
}

.heading:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    bottom: 0;
    width: 50px;
    height: 6px;
    border-left: 50px solid #f12735;
    background-color: #1598e3;
}
.heading:after {
  content: "";
  display: block;
  position: absolute;
  right: 50%;
  bottom: 0;
  border-right: 3px solid #1598e3;
  border-bottom: 3px solid #1598e3;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
}

.center_container {
  text-align: center;
  position: relative;
}

#textArea, #textareaMirrorInline {
  font:monospace;
  font-size: 20px;
  /* background:transparent;
  width:70vw;
  max-width:70vw;
  height: 60vh;
  min-height:60vh;
  position:absolute;
  top: 0;
  left: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding:5px;
  margin:0;
  background:transparent; */
}

#textArea {
  font:monospace;
  z-index:1;
  /* resize: none; */
  font-size: 20px;
}

#textAreaMirror {
  /* border-color:transparent; */
  z-index: -1;
  /* border: solid 1px black; */
}

#textareaMirrorInline {
  /* border: solid 1px black; */
  /* opacity: 0; */
}

button {
  background-color: white;
  border: none;
  color: black;
  padding: 5px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: gray;
  color: white;
}

#suggestArea {
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  border: solid 1px gray;
  background-color: white;
  max-width: 30vw;
  height: 50px;
  overflow: scroll;
  word-wrap: break-word;
  z-index:3;
}

#btn_container {
  position: absolute;
  bottom: 0;
}

.suggestions {

}